package {{package}}

{{#imports}}import {{import}}
{{/imports}}
{{#models}}
{{#model}}{{#description}}
/**
 * {{.}}
 **/{{/description}}
{{#isEnum}}{{>modelEnum}}{{/isEnum}}{{^isEnum}}{{>modelClass}}{{/isEnum}}{{/model}}{{/models}}